/*--------------------------------------------------------------------------
*
*	Google Map
*	
*-------------------------------------------------------------------------*/
.acf-venue {
  position: relative;
  border: #DFDFDF solid 1px;
  background: #fff;
  /* default is focused */
  /* -search */
  /* -value */
  /* -loading */
}
.acf-venue .title {
  position: relative;
  border-bottom: #DFDFDF solid 1px;
}
.acf-venue .title .search {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  height: 40px;
  padding: 5px 10px;
  border: 0 none;
  box-shadow: none;
  border-radius: 0;
  font-family: inherit;
  cursor: text;
}
.acf-venue .title .acf-loading {
  position: absolute;
  top: 10px;
  right: 11px;
  display: none;
}
.acf-venue .title:hover .acf-actions {
  display: block;
}
.acf-venue .canvas {
  height: 400px;
}
.acf-venue .title .acf-icon.-location {
  display: inline-block;
}
.acf-venue .title .acf-icon.-cancel {
  display: none;
}
.acf-venue .title .acf-icon.-search {
  display: none;
}
.acf-venue.-search .title .acf-icon.-location {
  display: none;
}
.acf-venue.-search .title .acf-icon.-cancel {
  display: inline-block;
}
.acf-venue.-search .title .acf-icon.-search {
  display: inline-block;
}
.acf-venue.-value .title .search {
  font-weight: bold;
}
.acf-venue.-value .title .acf-icon.-location {
  display: none;
}
.acf-venue.-value .title .acf-icon.-cancel {
  display: inline-block;
}
.acf-venue.-value .title .acf-icon.-search {
  display: none;
}
.acf-venue.-loading .title a {
  display: none !important;
}
.acf-venue.-loading .title i {
  display: inline-block;
}
/* autocomplete */
.pac-container {
  border-width: 1px 0;
  box-shadow: none;
}
.pac-container:after {
  display: none;
}
.pac-container .pac-item:first-child {
  border-top: 0 none;
}
.pac-container .pac-item {
  padding: 5px 10px;
  cursor: pointer;
}
html[dir="rtl"] .pac-container .pac-item {
  text-align: right;
}